<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>aircasting.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need Bluetooth to connect with AirBeam, it&apos;s impossible to collect the data without it. </string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need Bluetooth to connect with the AirBeam, it&apos;s impossible to collect the pollution data without it. </string>
	<key>NSCameraUsageDescription</key>
	<string>This will allow you to attach photos to your mobile session notes.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AirCasting uses your location to map your measurements.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AirCasting uses your location to map your measurements.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AirCasting uses microphone to measure noise level while session is recording.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Moderat-Trial-Black.otf</string>
		<string>Moderat-Trial-Bold.otf</string>
		<string>Moderat-Trial-Medium.otf</string>
		<string>Moderat-Trial-Regular.otf</string>
		<string>Muli-Black.ttf</string>
		<string>Muli-BlackItalic.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Muli-ExtraBoldItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-Italic-VariableFont_wght.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-MediumItalic.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-SemiBoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
